<ul>
  <li>
    <button (click)="singleClass = !singleClass">Toggle `red` class</button>
  </li>
  <li>
    <button (click)="doubleClass = !doubleClass">Toggle `italic` and `padding` class</button>
  </li>
  <li>
    <button (click)="arrayOfClasses = !arrayOfClasses">
      Toggle `red`, `italic` and `padding` classes
    </button>
  </li>
</ul>

@if (singleClass) {
  <div ngxBodyClass="red"></div>
}

@if (doubleClass) {
  <div ngxBodyClass="italic padding"></div>
}

@if (arrayOfClasses) {
  <div [ngxBodyClass]="['italic', 'red', 'padding']"></div>
}

<main>Hello world!</main>
